
http://pieroxy.net/blog/pages/lz-string/guide.html
https://github.com/pieroxy/lz-string/
<div id="result"></div>
<script type="text/plain">
var b = function (){alert('success')}
window.setTimeout(function(){
	alert(1)
	try{
		b()
	}catch(b){
		alert(b.message.toString())
	}
},5)
</script>
<!--
<script src="/lz-string.min.js"></script>
<script src="/dict.js"></script>
<script src="/key_dict.js"></script>
<script src="/detective.js"></script>
-->
<script>var st = +new Date</script>
<script>
;(function(){
var f = document.createElement('script')
f.type= 'text/javascript'
f.onload = f.onreadystatechange  = function(){
	var r = f.readyState
	if (undefined === r || r === 'loaded' || r === 'complete'){
		window.__getFingerPrint(function(token ,info){
			alert(token)
				console.log(token,info,Object.keys(info).length)
		})
	}
}
f.src = '//m.elongstatic.com/common/fe/2017/js/fingerprint.js?a=1.0.3'
document.getElementsByTagName("head")[0].appendChild(f)
})()
</script>
